*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 5em 0;
}

h1, h3, p, .text, nav ul li a {
    color: #fff;
    letter-spacing: 1.3px;
    line-height: -10px;
    padding: 3px;
}

/*      ---------   Fonts    ---------   */
@media screen and (max-width: 768px) {
    h1, nav ul li a {
        font-size: 1.875rem;
        font-family: 'Permanent Marker', cursive;
    }

    h3, .text {
        font-size: 1.25rem;
        font-family: 'Walter Turncoat', cursive;
    }

    p {
        font-size: 1rem;
        font-family: 'Walter Turncoat', cursive;
    }
}

@media screen and (min-width: 768px) {
    h1, nav ul li a {
        font-size: 2.5rem;
        font-family: 'Permanent Marker', cursive;
    }

    h3, .text {
        font-size: 1.875rem;
        font-family: 'Walter Turncoat', cursive;
    }

    p {
        font-size: 1rem;
        font-family: 'Walter Turncoat', cursive;
    }
}


/*      -------------------------   Backgrounds   -------------------------  */
.header, .feature, .dlc, .meet-the-villains-container, .villains-1, .villains-2, .villains-3, .villains-4, .villains-5, .villains-6, .villains-7  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*      -------------------------   Navigation   -------------------------  */
.nav-wrapper {
    overflow: auto;
    padding: 0 2rem;
}

@media screen and (max-width: 768px) {
    .nav-logo {
        height: 48;
        padding-top: 8px;
    }
}

.nav-wrapper {
    width: 100%;
    background: linear-gradient(#56ABE5,#2B73C7);
    z-index: 1;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    padding: 8px 12px;
    text-decoration: none;
}

.btn {
    padding: 16px 8px;
    background-color: #F7474A;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    nav ul li {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0;
      }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .nav .btn {
        position: static;
    }

    .nav ul {
        display: inline;
    }

    .hamburger-container {
        display: none;
    }
}

/*      -------------------------   Page1: Header   -------------------------  */
.header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/intro-bg-no-logo.jpg');
    background-position: 26%;
}

.container {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

.custom-esrb {
    height: 5rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.main-logo {
    width: 300px;
    height: 112px;
}

@media screen and (min-width: 768px) {
    .main-logo {
        width: 600px;
        height: auto;
        text-align: center;
    }

    .header {
        background-position: 29%;
    }
}

@media screen and (min-width: 1400px) {
    .main-logo {
        width: 700px;
        height: auto;
    }

    .container {
        float: right;
        left: 45%;
    }

    .header {
        background-position: 40%;
    }
}

/*      -------------------------   Page1: feature   -------------------------  */
.feature {
    height: auto;
    background-image: url('../images/features-bg.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
  }

@media screen and (max-width: 768px) {
    .cell {
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 80px 0;
    }

    .cell-image {
        width: 100%;
        height: 300px;
        object-fit: scale-down;
    }

    .text-bubble,
    .text-bubble-third {
        padding: 16px 26px;
        background-color: #FFFAD1;
        width: 100%;
        max-width: 400px;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
    }

    .text-bubble h1,
    .text-bubble p,
    .text-bubble-third h1,
    .text-bubble-third p {
    color: black;
    }

}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    .cell {
        position: relative;
        width: 100%;
        max-width: 700px;
        margin: 80px 0;
    }

    .cell-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .text-bubble,
    .text-bubble-third {
        padding: 16px 26px;
        background-color: #FFFAD1;
        width: 100%;
        max-width: 800px;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
    }

    .text-bubble h1,
    .text-bubble p,
    .text-bubble-third h1,
    .text-bubble-third p {
    color: black;
    }

}

@media screen and (min-width: 1400px) {
  /* ----- Component: Cell -------- */
  .cell {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 80px 0;
  }

  /* ----- Component: Text Bubble -------- */
  .text-bubble {
    padding: 16px 26px;
    background-color: #FFFAD1;
    width: 90%;
    max-width: 800px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
  }

  .text-bubble h1,
  .text-bubble p,
  .text-bubble-third h1,
  .text-bubble-third p {
    color: black;
  }

  /* ----- Cell variations -------- */
  .cell-image {
    width: 100%;
    max-width: 1400px;
  }

  .first .cell-image {
    text-align: right;
  }

  .second .text-bubble {
    right: 0;
  }

  .text-bubble-third {
    position: absolute;
    Left: 30%;
    width: 100%;
    max-width: 490px;
    padding: 16px 26px;
    background-color: #FFFAD1;
    transform: translateY(45%);
    z-index: 1;
  }

  .third {
    margin-top: 0;
  }
}

/*      -------------------------   Page 1: Meet The Villains  -------------------------  */
.meet-the-villains-container {
    background-image: url('../images/meet-the-villains-bg.jpg');
}

.meet-the-villains-text {
    text-align: center;
}

.meet-the-villains-text h3 {
    text-align: center;
    position: relative;
    width: 90%;
    max-width: 763px;
    left: 50%;
    transform: translateX(-50%);
}

.meet-the-villains-image {
    width: 90%;
    max-width: 1291px;
    height: 792px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 0 1% 0;
}

.meet-the-villains-wrapper {
    text-align: center;
}

button {
    background-color: #F7474A;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    }

    .text {
    text-decoration: none;
    }

    .button-wrapper {
    text-align: center;
}

@media screen and (min-width: 1400px) {
    .button-wrapper {
        display: none;
    }

    .meet-the-villains-container:hover {
        background-image: url('../images/villains-hover-bg.jpg');
    }
}


/*      -------------------------   Page 1: DLC  -------------------------  */
.dlc {
    width: 100%;
    height: auto;
    background-image: url('../images/dlc-bg.jpg');
    margin-top: 10px;
}

.dlc-text {
    text-align: center;
    padding: 0 10px;
}

.dlc-logo {
    width: 95%;
    max-width: 1120px;
}

.dlc h1,
.dlc h3 {
    padding: 10px 0;
}

.dlc p {
    text-align: left;
}

.esrb-wrapper {
    text-align: left;
}

.dlc-1, .dlc-2, .dlc-3 {
    width: 100%;
    max-width: 360px;
    height: auto;
}

.column {
    position: relative;
    text-align: center;
    padding: 10px;
}

.dlc-esrb {
    width: 5em;
    height: auto;
    padding: 10px 0;
}

p span {
    display: block;
}

.highlights {
    text-decoration: underline;
}

.dlc-wrapper {
    float: left;
}

@media screen and (min-width: 768px) {
    .dlc-1, .dlc-2, .dlc-3 {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .dlc-images {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .column {
        width: 31%;
    }

    .dlc h3,
    .dlc-images {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
    }
}

@media screen and (max-width: 768px) and (min-width: 1400px) {
    .dlc-1, .dlc-2, .dlc-3 {
        width: 100%;
        max-width: 360px;
        height: auto;
    }

    .dlc-images {
        position: relative;
        display: flex;
        align-content:space-around;
        align-content: center;
        padding-top: 10px;
    }

    .column {
        width: 31%;
    }
}


/*      -------------------------   Footer  -------------------------  */
footer {
    text-align: center;
    width: 100%;
    background: linear-gradient(#56ABE5,#2B73C7);
    padding: 10px 0 30px 0;
    margin-top: 10px;
}

.footer-logo {
    width: 80%;
    max-width: 91.25px;
    height: auto;
    padding: 10px 0px 0px 0px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 5px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ffffff;
}

/*      -------------------------   Page2: Side Page Villains Header -------------------------  */
.page2-villains-container {
    width: 100%;
    height: 600px;
    background-image: url('../images/page2-villains-intro-bg.jpg');
    background-position: center;
}

.page2-villains-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2-intro-text {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.arrow-wrapper {
    width: 100%;
    max-width: 33px;
    height: auto;
    Position: absolute;
    Bottom: 20px;
    text-align: center;
}


/*      -------------------------   Page2: Villains Images  -------------------------  */
@media screen and (max-width: 768px) {
    .villains-tablet-image-1, .villains-tablet-image-2,.villains-tablet-image-3,.villains-tablet-image-4,.villains-tablet-image-5,.villains-tablet-image-6,.villains-tablet-image-7 {
        display: none;
    }

    .villains-mobile-image {
        width: 100%;
        height: auto;
    }

    .page2-villains-text-1, .page2-villains-text-2, .page2-villains-text-3, .page2-villains-text-4, .page2-villains-text-5, .page2-villains-text-6, .page2-villains-text-7 {
        text-align: left;
        padding: 20px;
    }

/*      -------------------------   Page2: Villains Backgrounds  -------------------------  */
    .villains-1, .villains-2, .villains-3, .villains-4, .villains-5, .villains-6, .villains-7 {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .villains-1 {
        background-image: url('../images/bg-1.jpg');
    }

    .villains-2 {
        background-image: url('../images/bg-2.jpg');
    }

    .villains-3 {
        background-image: url('../images/bg-3.jpg');
    }

    .villains-4 {
        background-image: url('../images/bg-4.jpg');
    }

    .villains-5 {
        background-image: url('../images/bg-5.jpg');
    }

    .villains-6 {
        background-image: url('../images/bg-6.jpg');
    }

    .villains-7 {
        background-image: url('../images/bg-7.jpg');
    }
}


@media screen and (min-width: 768px) and (max-width: 1400px) {
    .villains-mobile-image {
        display: none;
    }

    .page2-villains-text-1, .page2-villains-text-2, .page2-villains-text-3, .page2-villains-text-4, .page2-villains-text-5, .page2-villains-text-6, .page2-villains-text-7 {
        margin: auto;
        width: 100%;
        max-width: 600px;
    }

    .villains-tablet-image-2 {
        position: relative;
        left: 5%;
        right: 95%;
    }

    .villains-tablet-image-5,
    .villains-tablet-image-7 {
        position: relative;
        left: 2%;
        right: 98%;
    }

/*      -------------------------   Page2: Villains Backgrounds  -------------------------  */
    .villains-1, .villains-2, .villains-3, .villains-4, .villains-5, .villains-6, .villains-7 {
        margin-top: 10px;
        display: flex;
    }

    .villains-1 {
        background-image: url('../images/bg-1.jpg');
    }

    .villains-2 {
        background-image: url('../images/bg-2.jpg');
    }

    .villains-3 {
        background-image: url('../images/bg-3.jpg');
    }

    .villains-4 {
        background-image: url('../images/bg-4.jpg');
    }

    .villains-5 {
        background-image: url('../images/bg-5.jpg');
    }

    .villains-6 {
        background-image: url('../images/bg-6.jpg');
    }

    .villains-7 {
        background-image: url('../images/bg-7.jpg');
    }
}


@media screen and (min-width: 1400px) {
    .villains-mobile-image, .villains-tablet-image-1,.villains-tablet-image-2, .villains-tablet-image-3, .villains-tablet-image-4, .villains-tablet-image-5, .villains-tablet-image-6, .villains-tablet-image-7 {
        display: none;
    }

    .page2-villains-text-1, .page2-villains-text-2, .page2-villains-text-3, .page2-villains-text-5, .page2-villains-text-7 {
        width: 90%;
        max-width: 680px;
        height: auto;
        position: relative;
        float: right;
        top: 50%;
        right: 10%;
      }

      .page2-villains-text-4, .page2-villains-text-6 {
        width: 100%;
        max-width: 680px;
        height: auto;
        position: relative;
        float: right;
        top: 70%;
        right: 10%;
      }


/*      -------------------------   Page2: Villains Backgrounds  -------------------------  */
    .villains-1, .villains-2, .villains-3, .villains-4, .villains-5, .villains-6, .villains-7 {
        width: 100%;
        height: 800px;
        margin-top: 10px;
    }

    .villains-1 {
        background-image: url('../images/desktop-bg-1.jpg');
    }

    .villains-2 {
        background-image: url('../images/desktop-bg-2.jpg');
    }

    .villains-3 {
        background-image: url('../images/desktop-bg-3.jpg');
    }

    .villains-4 {
        background-image: url('../images/desktop-bg-4.jpg');
    }

    .villains-5 {
        background-image: url('../images/desktop-bg-5.jpg');
    }

    .villains-6 {
        background-image: url('../images/desktop-bg-6.jpg');
    }

    .villains-7 {
        background-image: url('../images/desktop-bg-7.jpg');
    }

}
