@import "fonts.css";
@import "navigation.css";
@import "header.css";
@import "cartoon.css";
@import "meet-the-villains.css";
@import "dlc.css";
@import "villains-header.css";
@import "footer.css";
@import "villains.css";


:root {
    /* color */
    --color-white: #fff;
    --color-light-yellow: #FFFAD1;
    --color-red:  #F7474A;
    --color-black: #000;
}

html {
    font: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 5em 0;
}

h1, h3, p, .text {
    color: var(--color-white);
    letter-spacing: 1.3px;
    line-height: -10px;
    padding: 3px;
}

/* Backgrounds */
.header, .cartoon-cell-block, .dlc, .meet-the-villains-container, .villains-1, .villains-2, .villains-3, .villains-4, .villains-5, .villains-6, .villains-7  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}